:root {
  --white: #fff;
  --secondary-white: #f9f9fb;

  // primary shades
  --primary-25: #f1f4f8;
  --primary-50: #e9edf2;
  --primary-100: #bcc7d6;
  --primary-200: #9bacc3;
  --primary-300: #6e86a7;
  --primary-400: #516f96;
  --primary-500: #264b7c;
  --primary-600: #234471;
  --primary-700: #1b3558;
  --primary-800: #152944;
  --primary-900: #102034;

  //secondary shades
  --secondary-25: #fdf9f6;
  --secondary-50: #fff2ec;
  --secondary-100: #ffd8c4;
  --secondary-200: #ffc5a8;
  --secondary-300: #ffab80;
  --secondary-400: #ff9a67;
  --secondary-500: #ff8141;
  --secondary-600: #e8753b;
  --secondary-700: #b55c2e;
  --secondary-800: #8c4724;
  --secondary-900: #6b361b;

  // gray shades
  --gray-25: #f6f6f9;
  --gray-50: #f0f0f3;
  --gray-100: #d0d0d9;
  --gray-200: #b9bac7;
  --gray-300: #989aad;
  --gray-400: #85869d;
  --gray-500: #666885;
  --gray-600: #5d5f79;
  --gray-700: #484a5e;
  --gray-800: #383949;
  --gray-900: #2b2c38;
}
